div{
    background-color: #ffffff;
    color: black;
}

body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #18202D;
  color: #000000;
  text-align: center;
}
header {
  background-color: #18202D;
  color: rgb(255, 255, 255);
  padding: 20px;
  text-align: center;
}
nav a {
color: #000000;
text-decoration: none;
text-align: center;
}

.container {
  max-width: 1200px;
  margin: 20px auto;
  padding: 20px;
  background-color: #1E2738;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  background-color: #333;
}

li {
  float: left;
}

li a {
  display: block;
  color: rgb(255, 255, 255);
  background-color: #222222;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover:not(.active) {
  background-color: #000000;
}

.active {
  background-color: #04AA6D;
}
